### Excercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

### Excercise 3: Create markdown cell for introduction

In this jupyter notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
##Excercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL

4.Scala

5.Julia

In [ ]:
##Excercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data scientists include:

1.Numpy 

2.Pandas

3.Matplotlib

4.Seaborn

5.Scikit-learn

6.TensorFlow

In [ ]:
##Excercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| Visual Studio Code|
| Apache Spark      |

In [ ]:
##Excercise 7: Create a markdown cell introducing arithmatic expression examples

### Below are a few examples of evaluating arithmetic expression in Python

In [2]:
# Arithmetic expression
code = compile("3 + 4", "<string>", "eval")
eval(code)
# Result: 7

7

## Excercise 8: Create a code cell to multiply and add numbers

#### This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5
# Result: 17

17

### Excercise 9: Create a code cell to convert minutes to hours

##### This will convert 200 minutes to hours by diving by 60

In [4]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

### Excercise 10: Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

In [ ]:
##Excercise 11: Create a markdown cell to indicate the Author's name

## Author:

Emran Hossain

In [ ]:
##Excercise 12 -Share your notbook through Github

In [ ]:
##Excercise 13: Take a screenshot of the first page of the notebook and save it as 1-notebook.png(images can be saved with either the .jpg or .png extension.)